################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KMDRecociliationApp.API/bin/Debug/net8.0
/KMDRecociliationApp.API/obj
/KMDRecociliationApp.AppHost/bin/Debug/net8.0
/KMDRecociliationApp.AppHost/obj
/KMDRecociliationApp.Data/obj
/KMDRecociliationApp.Domain/obj
/KMDRecociliationApp.ServiceDefaults/bin/Debug/net8.0
/KMDRecociliationApp.ServiceDefaults/obj
/.vs/KMDRecociliationApp
/KMDRecociliationApp.API/KMDRecociliationApp.API.csproj.user
/KMDRecociliationApp.Data/bin/Debug/net8.0
/KMDRecociliationApp.Domain/bin/Debug/net8.0
/.vs/ProjectEvaluation
/KMDRecociliationApp.Helper/bin/Debug/net8.0
/KMDRecociliationApp.Helper/obj
/KMDRecociliationApp.Services/bin/Debug/net8.0
/KMDRecociliationApp.Services/obj
/KMDRecociliationApp.API/Logs
/KMDRecociliationApp.Domain/Migrations
/KMDRecociliationApp.API/Uploads

/KMDRecociliationApp.API/appsettings.Development.json
*.zip
KMDRecociliationApp.API/Properties/PublishProfiles/FolderProfile.pubxml
/KMDRecociliationApp.API/bin/*
/KMDRecociliationApp.Data/bin/*
/KMDRecociliationApp.Domain/bin/*
/KMDRecociliationApp.Services/bin/*
/KMDRecociliationApp.Helper/bin/*
/KMDRecociliationApp.API/.config
/KMDRecociliationApp.API/Properties/PublishProfiles/FolderProfile.pubxml
/KMDRecociliationApp.API/Properties/PublishProfiles/FolderProfile.pubxml.user
*.pdb
*.exe
*.exe
*.pdb
KMDRecociliationApp.API/bin/Release/net8.0/publish/web.config
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.API.pdb
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.API.exe
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.API.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/appsettings.json
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.API.pdb
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.API.exe
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.API.dll
KMDRecociliationApp.API/bin/Release/net8.0/appsettings.json
/KMDRecociliationApp.API/bin/Release
/KMDRecociliationApp.Data/bin
/KMDRecociliationApp.Domain/bin/Release/net8.0
/KMDRecociliationApp.Domain/bin
/KMDRecociliationApp.Services/bin
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.API.deps.json
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.API.dll
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.API.exe
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.API.pdb
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.Data.dll
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.Data.pdb
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.Domain.dll
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.Domain.pdb
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.Services.dll
KMDRecociliationApp.API/bin/Release/net8.0/KMDRecociliationApp.Services.pdb
KMDRecociliationApp.API/bin/Release/net8.0/Microsoft.Data.SqlClient.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/appsettings.json
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.API.deps.json
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.API.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.API.exe
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.API.pdb
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.Data.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.Data.pdb
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.Domain.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.Domain.pdb
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.Services.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/KMDRecociliationApp.Services.pdb
KMDRecociliationApp.API/bin/Release/net8.0/publish/Microsoft.Data.SqlClient.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/Microsoft.Win32.SystemEvents.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/System.Drawing.Common.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/System.Configuration.ConfigurationManager.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/System.Drawing.Common.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/System.Runtime.Caching.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/System.Security.Cryptography.ProtectedData.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/System.Security.Permissions.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/System.Windows.Extensions.dll
KMDRecociliationApp.API/bin/Release/net8.0/publish/web.config
KMDRecociliationApp.API/bin/Release/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
KMDRecociliationApp.API/bin/Release/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
KMDRecociliationApp.API/bin/Release/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
KMDRecociliationApp.API/bin/Release/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
KMDRecociliationApp.API/bin/Release/net8.0/System.Configuration.ConfigurationManager.dll
KMDRecociliationApp.API/bin/Release/net8.0/System.Runtime.Caching.dll
KMDRecociliationApp.API/bin/Release/net8.0/System.Security.Cryptography.ProtectedData.dll
KMDRecociliationApp.Data/bin/Release/net8.0/KMDRecociliationApp.Data.dll
KMDRecociliationApp.Data/bin/Release/net8.0/KMDRecociliationApp.Data.pdb
KMDRecociliationApp.Data/bin/Release/net8.0/KMDRecociliationApp.Domain.dll
KMDRecociliationApp.Data/bin/Release/net8.0/KMDRecociliationApp.Domain.pdb
KMDRecociliationApp.Domain/bin/Release/net8.0/KMDRecociliationApp.Domain.dll
KMDRecociliationApp.Domain/bin/Release/net8.0/KMDRecociliationApp.Domain.pdb
KMDRecociliationApp.Services/bin/Release/net8.0/KMDRecociliationApp.Domain.dll
KMDRecociliationApp.Services/bin/Release/net8.0/KMDRecociliationApp.Domain.pdb
KMDRecociliationApp.Services/bin/Release/net8.0/KMDRecociliationApp.Services.dll
KMDRecociliationApp.Services/bin/Release/net8.0/KMDRecociliationApp.Services.pdb
/KMDRecociliationApp.API/bin/Release/net8.0/publish/de/Microsoft.Data.Edm.resources.dll
/KMDRecociliationApp.Domain/bin/Release/net8.0/KMDRecociliationApp.Domain.dll
/KMDRecociliationApp.Domain/bin/Release/net8.0/KMDRecociliationApp.Domain.pdb
/KMDRecociliationApp.Data/bin/Release/net8.0/KMDRecociliationApp.Data.deps.json
/KMDRecociliationApp.Domain/bin/Release/net8.0/KMDRecociliationApp.Domain.deps.json
/KMDRecociliationApp.API/bin/Release/net8.0/Logs/log20240722.json
/KMDRecociliationApp.API/bin/Release/net8.0/Logs/log20240723.json
/KMDRecociliationApp.API/bin/Release/net8.0/Microsoft.Win32.SystemEvents.dll
/KMDRecociliationApp.API/bin/Release/net8.0/System.Drawing.Common.dll
/KMDRecociliationApp.API/bin/Release/net8.0/Logs/log20240724.json
/KMDRecociliationApp.API/bin/Release/net8.0/Logs/log20240725.json
/KMDRecociliationApp.API/bin/Release/net8.0/Logs/log20240726.json
/KMDRecociliationApp.API/bin/Release/net8.0/Logs/log20240729.json
/KMDRecociliationApp.API/bin/Release/net8.0/Logs/log20240730.json
/KMDRecociliationApp.API/bin/Release/net8.0/Logs/log20240731.json
/SqlHelpers/bin/Debug/net8.0
/SqlHelpers/obj/Debug/net8.0
/SqlHelpers/obj
/KMDRecociliationApp.Web/src/uploads/6f049.jpg
/SqlHelpers/bin/Release/net8.0
/KMDRecociliationApp.Domain/Properties/PublishProfiles
/KMDRecociliationApp.API/bin/Release/net8.0/appsettings.json
/KMDRecociliationApp.API/bin/Release/net8.0/publish.zip
/KMDRecociliationApp.API/bin/Release/net8.0/appsettings.json
/KMDRecociliationApp.Data/KMDRecociliationApp.Data.csproj.user
/KMDRecociliationApp.API/Templates/00009495354_700374249939_RECEIPT.psd
*.rar
/KMDRecociliationApp.Web/.vs
/KMDRecociliationApp.API/bin/Release/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/KMDRecociliationApp.API/bin/Release/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/KMDRecociliationApp.API/Migrations
