USE [TestDb]
GO
/****** Object:  StoredProcedure [dbo].[USPGetDashBoardData]    Script Date: 19-12-2024 11:28:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================

ALTER PROCEDURE [dbo].[USPGetDashBoardData] 
    @associationID int=0,
    @CampaignId int=1
AS

--declare  @associationID int=0,
--    @CampaignId int=1

BEGIN

if(@associationID=0)
begin
;
	WITH PaymentStatusCounts AS (
    SELECT 
        -- Pending and Rejected Counts
        SUM(CASE WHEN p.PaymentStatus = 0 THEN 1 ELSE 0 END) AS TotalPendingCount,
        SUM(CASE WHEN p.PaymentStatus = 2 THEN 1 ELSE 0 END) AS TotalRejectedCount,
      

        -- Initiated Counts by Payment Type
        SUM(CASE WHEN p.PaymentStatus = 3 AND pd.PaymentType = 1 THEN 1 ELSE 0 END) AS totalInitiatedCheque,
        SUM(CASE WHEN p.PaymentStatus = 3 AND pd.PaymentType = 2 THEN 1 ELSE 0 END) AS totalInitiatedNEFT,
        SUM(CASE WHEN p.PaymentStatus = 3 AND pd.PaymentType = 3 THEN 1 ELSE 0 END) AS totalInitiatedUPI,

        -- Completed Counts by Payment Type
        SUM(CASE WHEN p.PaymentStatus = 1 AND pd.PaymentType = 1 THEN 1 ELSE 0 END) AS totalCompletedCheque,
        SUM(CASE WHEN p.PaymentStatus = 1 AND pd.PaymentType = 2 THEN 1 ELSE 0 END) AS totalCompletedNEFT,
        SUM(CASE WHEN p.PaymentStatus = 1 AND pd.PaymentType = 3 THEN 1 ELSE 0 END) AS totalCompletedUPI,
        SUM(CASE WHEN p.PaymentStatus = 1 AND pd.PaymentType = 4 THEN 1 ELSE 0 END) AS totalCompletedOnline,

        -- Pensioner Counts
        COUNT(DISTINCT a.Id) AS TotalPensioner,
        COUNT(DISTINCT CASE WHEN p.Id IS NOT NULL THEN a.Id END) AS totalPensionerStarted,
        COUNT(DISTINCT CASE WHEN p.Id IS NULL THEN a.Id END) AS totalPensionerNotStarted
    FROM ApplicationUser a
    LEFT JOIN PolicyHeader p ON a.Id = p.UserId AND p.CampaignId = @CampaignId
    LEFT JOIN (
        -- Subquery to get distinct PolicyId and PaymentType
        SELECT DISTINCT PolicyId, PaymentType 
        FROM PaymentDetails
    ) pd ON pd.PolicyId = p.Id
    WHERE a.IsActive = 1 AND a.UserType = 1
)
SELECT 
    TotalPendingCount,
    TotalRejectedCount,
   isnull(TotalPendingCount,0)+isnull(TotalRejectedCount,0) TotalPendingRejectedCount,
    totalInitiatedCheque,
    totalInitiatedNEFT,
    totalInitiatedUPI,
	 isnull(totalInitiatedCheque,0)+isnull(totalInitiatedNEFT,0)+ isnull(totalInitiatedUPI,0)  totalInitiatedCount,
    totalCompletedCheque,
    totalCompletedNEFT,
    totalCompletedUPI,
    totalCompletedOnline,
	 isnull(totalCompletedCheque,0)+isnull(totalCompletedNEFT,0)+ isnull(totalCompletedUPI,0)+ isnull(totalCompletedOnline,0)  totalCompletedCount,
    TotalPensioner,
    totalPensionerStarted,
    totalPensionerNotStarted
FROM PaymentStatusCounts;
end
else
if (@associationID!=0)
begin

;
	WITH PaymentStatusCounts AS (
    SELECT 
        -- Pending and Rejected Counts
        SUM(CASE WHEN p.PaymentStatus = 0 THEN 1 ELSE 0 END) AS TotalPendingCount,
        SUM(CASE WHEN p.PaymentStatus = 2 THEN 1 ELSE 0 END) AS TotalRejectedCount,
      

        -- Initiated Counts by Payment Type
        SUM(CASE WHEN p.PaymentStatus = 3 AND pd.PaymentType = 1 THEN 1 ELSE 0 END) AS totalInitiatedCheque,
        SUM(CASE WHEN p.PaymentStatus = 3 AND pd.PaymentType = 2 THEN 1 ELSE 0 END) AS totalInitiatedNEFT,
        SUM(CASE WHEN p.PaymentStatus = 3 AND pd.PaymentType = 3 THEN 1 ELSE 0 END) AS totalInitiatedUPI,

        -- Completed Counts by Payment Type
        SUM(CASE WHEN p.PaymentStatus = 1 AND pd.PaymentType = 1 THEN 1 ELSE 0 END) AS totalCompletedCheque,
        SUM(CASE WHEN p.PaymentStatus = 1 AND pd.PaymentType = 2 THEN 1 ELSE 0 END) AS totalCompletedNEFT,
        SUM(CASE WHEN p.PaymentStatus = 1 AND pd.PaymentType = 3 THEN 1 ELSE 0 END) AS totalCompletedUPI,
        SUM(CASE WHEN p.PaymentStatus = 1 AND pd.PaymentType = 4 THEN 1 ELSE 0 END) AS totalCompletedOnline,

        -- Pensioner Counts
        COUNT(DISTINCT a.Id) AS TotalPensioner,
        COUNT(DISTINCT CASE WHEN p.Id IS NOT NULL THEN a.Id END) AS totalPensionerStarted,
        COUNT(DISTINCT CASE WHEN p.Id IS NULL THEN a.Id END) AS totalPensionerNotStarted
    FROM ApplicationUser a
    LEFT JOIN PolicyHeader p ON a.Id = p.UserId AND p.CampaignId = @CampaignId
    LEFT JOIN (
        -- Subquery to get distinct PolicyId and PaymentType
        SELECT DISTINCT PolicyId, PaymentType 
        FROM PaymentDetails
    ) pd ON pd.PolicyId = p.Id
    WHERE a.IsActive = 1 AND a.UserType = 1 and a.AssociationId=@associationID
)
SELECT 
    TotalPendingCount,
    TotalRejectedCount,
   isnull(TotalPendingCount,0)+isnull(TotalRejectedCount,0) TotalPendingRejectedCount,
    totalInitiatedCheque,
    totalInitiatedNEFT,
    totalInitiatedUPI,
	 isnull(totalInitiatedCheque,0)+isnull(totalInitiatedNEFT,0)+ isnull(totalInitiatedUPI,0)  totalInitiatedCount,
    totalCompletedCheque,
    totalCompletedNEFT,
    totalCompletedUPI,
    totalCompletedOnline,
	 isnull(totalCompletedCheque,0)+isnull(totalCompletedNEFT,0)+ isnull(totalCompletedUPI,0)+ isnull(totalCompletedOnline,0)  totalCompletedCount,
    TotalPensioner,
    totalPensionerStarted,
    totalPensionerNotStarted
FROM PaymentStatusCounts;

end 


END
