USE [TestDb]
GO
/****** Object:  StoredProcedure [dbo].[USPGetDashBoardDataDetails]    Script Date: 07-12-2024 12:48:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[USPGetDashBoardDataDetails] 
@Page INT,
@PageSize INT,
@SearchValue VARCHAR(100) = NULL,
@Filter VARCHAR(500),
@CampaignID INT,
@AssociationID INT,
@PaymentMode INT = NULL,	
@PaymentStatus INT = NULL,
@PaymentType INT = NULL
AS

--declare @Page INT=1,
--@PageSize INT=50,
--@SearchValue VARCHAR(100) = NULL,
--@Filter VARCHAR(500)='pensionerstarted',
--@CampaignID INT=1,
--@AssociationID INT=0,
--@PaymentMode INT = NULL,	
--@PaymentStatus INT = NULL,
--@PaymentType INT = NULL

BEGIN
    SET NOCOUNT ON;
    DECLARE @Skip INT
    SET @Skip = (@PageSize * (@Page - 1))
	if(@AssociationID=0)
	begin
	set @AssociationID=null;
	end
    IF(@Filter = 'pensionerstarted')
    BEGIN
        SELECT au.Id AS UserId,
               au.firstname + ' ' + au.lastname AS RetireeName,
               au.mobilenumber,
               au.Email,
               pd.amountpaid AS Amount,
               pd.paymentdate AS Date,
               a.associationname,
               pd.paymentstatus AS Status,
               pd.paymentmode,
               pd.paymenttype,
               0 AS PaymentId
        FROM [dbo].[applicationuser] au 
        INNER JOIN [dbo].[policyheader] ph ON ph.userid = au.id
        LEFT JOIN (
            SELECT DISTINCT PolicyId, PaymentType, amountpaid, paymentdate, paymentstatus, paymentmode
            FROM PaymentDetails
        ) pd ON pd.PolicyId = ph.Id
        INNER JOIN [dbo].[association] a ON au.associationid = a.id
        WHERE ph.campaignid = @CampaignID
            AND au.associationid = ISNULL(@AssociationID, au.associationid)
            AND pd.paymentmode = ISNULL(@PaymentMode, pd.paymentmode)
            AND pd.paymentstatus = ISNULL(@PaymentStatus, pd.paymentstatus) 
            AND pd.PaymentType = ISNULL(@PaymentType, pd.PaymentType) 
            AND ph.isactive = 1
            AND au.isactive = 1
            -- Add search condition
            AND (
                @SearchValue IS NULL 
                OR au.mobilenumber LIKE '%' + @SearchValue + '%' 
                OR au.firstname LIKE '%' + @SearchValue + '%' 
                OR au.lastname LIKE '%' + @SearchValue + '%'
				OR au.Email LIKE '%' + @SearchValue + '%'
				OR au.EMPIDPFNo LIKE '%' + @SearchValue + '%'
				OR a.AssociationName LIKE '%' + @SearchValue + '%'
            )
        ORDER BY ph.UpdatedBy DESC 
        OFFSET @Skip ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
    ELSE IF(@Filter = 'pensionernotstarted')
    BEGIN
        SELECT  au.Id AS UserId,
               au.firstname + ' ' + au.lastname AS RetireeName,
               au.mobilenumber,
               au.Email,
               ISNULL(pd.amountpaid, 0) AS Amount,
               ISNULL(pd.paymentdate, null) AS Date,
               a.associationname,
               ISNULL(pd.paymentstatus, 99) AS Status,
               ISNULL(pd.paymentmode, 0) AS paymentmode,
               ISNULL(pd.paymenttype, 0) AS paymenttype,
               0 AS PaymentId
        FROM [dbo].[applicationuser] au 
        LEFT JOIN PolicyHeader ph ON au.Id = ph.UserId AND ph.CampaignId = @CampaignId                   
        LEFT JOIN (
            SELECT DISTINCT PolicyId, PaymentType, amountpaid, paymentdate, paymentstatus, paymentmode
            FROM PaymentDetails
        ) pd ON pd.PolicyId = ph.Id
        INNER JOIN [dbo].[association] a ON au.associationid = a.id
        WHERE au.associationid = ISNULL(@AssociationID, au.associationid)
            AND au.UserType = 1
            AND au.isactive = 1
            AND ph.Id IS NULL
            -- Add search condition
            AND (
                 @SearchValue IS NULL 
                OR au.mobilenumber LIKE '%' + @SearchValue + '%' 
                OR au.firstname LIKE '%' + @SearchValue + '%' 
                OR au.lastname LIKE '%' + @SearchValue + '%'
				OR au.Email LIKE '%' + @SearchValue + '%'
				OR au.EMPIDPFNo LIKE '%' + @SearchValue + '%'
				OR a.AssociationName LIKE '%' + @SearchValue + '%'
            )
        ORDER BY au.UpdatedAt DESC 
        OFFSET @Skip ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
    ELSE IF(@Filter = 'totalpensioner')
    BEGIN
        SELECT au.Id AS UserId,
               au.firstname + ' ' + au.lastname AS RetireeName,
               au.mobilenumber,
               au.Email,
               ISNULL(pd.amountpaid, 0) AS Amount,
               ISNULL(pd.paymentdate, null) AS Date,
               a.associationname,
               ISNULL(pd.paymentstatus, 99) AS Status,
               ISNULL(pd.paymentmode, 0) AS paymentmode,
               ISNULL(pd.paymenttype, 0) AS paymenttype,
               0 AS PaymentId
        FROM [dbo].[applicationuser] au 
        LEFT JOIN PolicyHeader ph ON au.Id = ph.UserId AND ph.CampaignId = @CampaignId                   
        LEFT JOIN (
            SELECT DISTINCT PolicyId, PaymentType, amountpaid, paymentdate, paymentstatus, paymentmode
            FROM PaymentDetails
        ) pd ON pd.PolicyId = ph.Id
        INNER JOIN [dbo].[association] a ON au.associationid = a.id
        WHERE au.associationid = ISNULL(@AssociationID, au.associationid)
            AND au.UserType = 1
            AND au.isactive = 1
            -- Add search condition
            AND (
                @SearchValue IS NULL 
                OR au.mobilenumber LIKE '%' + @SearchValue + '%' 
                OR au.firstname LIKE '%' + @SearchValue + '%' 
                OR au.lastname LIKE '%' + @SearchValue + '%'
            )
        ORDER BY au.UpdatedAt DESC 
        OFFSET @Skip ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
    ELSE 
    BEGIN
        SELECT au.Id AS UserId,
               au.firstname + ' ' + au.lastname AS RetireeName,
               au.mobilenumber,
               au.Email,
               ISNULL(pd.amountpaid, 0) AS Amount,
               ISNULL(pd.paymentdate, null) AS Date,
               a.associationname,
               ISNULL(pd.paymentstatus, 99) AS Status,
               ISNULL(pd.paymentmode, 0) AS paymentmode,
               ISNULL(pd.paymenttype, 0) AS paymenttype,
               0 AS PaymentId
        FROM [dbo].[applicationuser] au 
        INNER JOIN [dbo].[policyheader] ph ON ph.userid = au.id
        LEFT JOIN (
            SELECT DISTINCT PolicyId, PaymentType, amountpaid, paymentdate, paymentstatus, paymentmode
            FROM PaymentDetails
        ) pd ON pd.PolicyId = ph.Id
        INNER JOIN [dbo].[association] a ON au.associationid = a.id
        WHERE ph.campaignid = @CampaignID
            AND au.associationid = ISNULL(@AssociationID, au.associationid)
            AND pd.paymentmode = ISNULL(@PaymentMode, pd.paymentmode)
            AND pd.paymentstatus = ISNULL(@PaymentStatus, pd.paymentstatus) 
            AND pd.PaymentType = ISNULL(@PaymentType, pd.PaymentType) 
            AND ph.isactive = 1
            AND au.isactive = 1
            -- Add search condition
            AND (
                 @SearchValue IS NULL 
                OR au.mobilenumber LIKE '%' + @SearchValue + '%' 
                OR au.firstname LIKE '%' + @SearchValue + '%' 
                OR au.lastname LIKE '%' + @SearchValue + '%'
				OR au.Email LIKE '%' + @SearchValue + '%'
				OR au.EMPIDPFNo LIKE '%' + @SearchValue + '%'
				OR a.AssociationName LIKE '%' + @SearchValue + '%'
            )
        ORDER BY ph.UpdatedBy DESC 
        OFFSET @Skip ROWS FETCH NEXT @PageSize ROWS ONLY;
    END
END